<div class="addNew">
    <button (click)="goCreate()">
        <p>Nuevo Credencial</p>
        <i class="bi bi-cloud-plus"></i>
    </button>
</div>
<table>
    <thead>
        <tr>
            <th>Num.Trabajador</th>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Firma</th>
            <th>CredencialPDF</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Person</td>
            <td>Person</td>
            <td>Person</td>
            <td>Person</td>
            <td>Person</td>
            <td class="actions">
               <i (click)="goDelete()" class="bi bi-trash3-fill"></i>
               <i (click)="goEdit()" class="bi bi-pencil-square"></i>
            </td>
        </tr>
    </tbody>
</table>
@if(deleteA){
    <app-eliminar></app-eliminar>
}


  