@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
$backgroundNav:  linear-gradient(90deg,rgb(13, 3, 39) -60%, #161e1e 97%);
$backgroundTr:  linear-gradient(90deg,rgb(19, 19, 36) -60%, #1a2229 97%);
$colorHead:#c8eee7;
$ColorPrincipal:#9409ff;

.addNew{
    width: 300px;
    height: auto;
    position: absolute;
    margin: -10px 68%;
    z-index: 3;
    button {
        width: 100%;
        border-radius: 20px;
        border: 1px solid #05ff58;
        background-color: transparent;
        color: #d2d6ec;
        font-size: 12px;
        font-weight: bold;
        
        letter-spacing: 1px;
        text-transform: uppercase;
        transition: transform 80ms ease-in;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        cursor: pointer;
        margin-top: 20px;
        i{
           
            font-size: 30px;
        }
    
    }
    button:hover{
        background: rgb(36,209,0);
        background: linear-gradient(90deg, rgba(36,209,0,1) 35%, rgba(1,133,252,1) 100%);
        color:#0c0c13 ;
        border: none;
        
    }
}
.containerEmployes{
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 11vh;
    padding-top: 20px;
    gap: 30px;
    // Estiliza el scrollbar (para Webkit/Blink navegadores como Chrome, Safari, Edge)
    &::-webkit-scrollbar {
        width: 5px; // Ancho del scrollbar
    }

    &::-webkit-scrollbar-track {
        background: rgb(25, 26, 42); // Color del fondo del track del scrollbar
    }

    &::-webkit-scrollbar-thumb {
        background: rgb(128,0,196);
        background: linear-gradient(350deg, rgba(128,0,196,1) 0%, rgba(134,21,255,1) 35%, rgba(0,212,255,1) 100%);
        border-radius: 20px; // Redondea las esquinas del thumb
    }
    .Azure{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #b9c0ed;
    }
    .cardEmploye{
       
        width: auto;
        height: auto;
        .fakeCardEmploye{
            cursor: pointer;
            transition: transform 0.3s ease;
            width: 280px;
            height: 380px;
            background: rgb(8,52,54);
            background: linear-gradient(174deg, rgb(0, 18, 31) 0%, rgb(6, 1, 25) 100%);
            border-radius: 10px;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            box-shadow: #081340 0px 1px 2px 0px;
            .imgEmployes{
                width: 150px;
                height: 150px;
                border-radius: 50%;
                overflow: hidden;
                margin: 20px 20%;
                position: relative;
                z-index: 1;
                img{
                    width: 100%;
                    height: 100%;
                    
                }
            }
            
            .numEmployees{
                transform:translateY(-40px);
                border-radius: 20px;
                width: auto;
                height: 25px;
                display: flex;
                align-items: center;
                padding-left: 8px;
                padding-right: 8px;
                background: rgb(163,9,179);
                background: linear-gradient(90deg, rgb(16, 34, 48) 36%, rgb(6, 26, 69) 100%);
                position: relative;
                z-index: 2;
                p{
                    color: #a2ebff;
                    font-weight:900;
                    letter-spacing: 2px;
                }
               
            }
            .nameEmployes{
                position: relative;
                z-index: 3;
                transform: translateY(-50px);
                width: 100%;
                height: 140px;
                display: flex;
                align-items: center;
                display: flex;
                justify-content: center;
                text-align: center;
                padding-left: 30px;
                padding-right: 30px;
                p{
                    font-weight: bold;
                    letter-spacing: 1px;
                    font-size: 16px;
                    color: #b9c0ed;
                }
            }
            .levelEmployee{
                width: 100%;
                height: 40px;
                display: flex;
                text-align: center;
                border-bottom-right-radius: 10px;
                border-bottom-left-radius: 10px;
                justify-content: center;
                align-items: center;
                p{
                    
                    font-weight: bold;
                }
            }
           .deleteEmploye{
            display: none;
           }

        }
        /*.fakeCardEmploye:hover {
            transform: scale(1.1); /* Ajusta este valor para controlar el nivel de zoom 
            background: rgb(8,52,54);
            background: linear-gradient(174deg, rgb(0, 22, 37) 0%, rgb(8, 1, 36) 100%);
        }
      */
        &:not(.active) .fakeCardEmploye:hover {
            transform: scale(1.1); /* Ajusta este valor para controlar el nivel de zoom */
            background: rgb(8,52,54);
            background: linear-gradient(174deg, rgb(0, 22, 37) 0%, rgb(8, 1, 36) 100%);
         
        }
        .visualCredencial{
            display: none;
        }
      
        .buttonE{
            display: none;
        }
    }
    .cardEmploye.active{
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: #0c0c13ee;
        z-index: 999;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        .fakeCardEmploye{
            width: 66%;
            height: 80%;
            background: rgb(8,52,54);
            background: linear-gradient(174deg, rgb(0, 37, 46) 0%, rgb(19, 13, 41) 100%);
            position: relative;
            cursor: default;
            
            .imgEmployes{
                position: relative;
                z-index: 1;
                transform: translateX(-90px) translateY(40px);
                border-radius: 20px;
            }
            .numEmployees{
                position: relative;
                z-index: 2;
                transform: translateX(-500px) translateY(250px);
                width: 300px;
                height: auto;
                background: none;
                display: flex;
                justify-content: center;
                font-size: 20px;
            }
            .nameEmployes{
                width: 25%;
                height: 80px;
                position: relative;
                z-index: 3;
                transform: translateY(20px);
            }
            .levelEmployee{
                width: 30%;
                height: 20px;
                display: flex;
                text-align: center;
                border-radius: 4px;
                position: relative;
                z-index: 4;
                transform: translateX(-104%) translateY(200px);
                
            }
            .visualCredencial{
                display: flex;
                width: 250px;
                height: 340px;
                border-radius: 10px;
                overflow: hidden;
                position: relative;
                z-index: 5;
                transform: translateX(-80px) translateY(-150px);
                img{
                    width: 100%;
                    height: 100%;
                }
                button{
                    position: absolute;
                    width: auto;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: none;
                    font-size: 14px;
                    font-weight: bold;
                    border-radius: 20px;
                    cursor: pointer;
                    background: rgb(6,221,207);
                    background: linear-gradient(90deg, rgba(6,221,207,1) 35%, rgba(12,206,245,1) 100%);
                }
                i{
                    font-size: 18px;
                    margin-right: 4px;
                }
                button:hover{
                    background: rgb(6,198,221);
                    background: linear-gradient(90deg, rgba(6,198,221,1) 35%, rgba(12,245,164,1) 100%);
                }
            }
            .buttonE{
                display: flex;
                width: 480px;
                height: 60px;
                position: relative;
                z-index: 10;
                transform:translateX(330px) translateY(-130px);
                display: flex;
                justify-content: center;
                gap: 30px;
                button{
                    cursor: pointer;
                    width: auto;
                    padding-left: 20px;
                    padding-right: 20px;
                    height: 40px;
                    border: none;
                    border-radius: 20px;
                    font-size: 16px;
                    font-weight: bold;
                    background: rgb(72,166,240);
                    background: linear-gradient(90deg, rgba(72,166,240,1) 43%, rgba(119,112,249,1) 100%);
                }
                button:hover{
                    background: rgb(72,208,240);
                    background: linear-gradient(90deg, rgba(72,208,240,1) 43%, rgba(112,249,158,1) 100%);
                }
            }
            .deleteEmploye{
                display: flex;
                justify-content: center;
                width: 300px;
                height: 40px;
                position: relative;
                z-index: 9;
                transform:translateX(-500px) translateY(-110px);
                button{
                    cursor: pointer;
                    width: auto;
                    height: 40px;
                    border: none;
                    color: #e7eafd;
                    border-radius: 20px;
                    padding-left: 14px;
                    padding-right:14px ;
                    display: flex;
                    font-weight: bold;
                    font-size: 16px;
                    justify-content: center;
                    align-items: center;
                    background: rgb(134,4,4);
                    background: linear-gradient(90deg, rgba(134,4,4,1) 43%, rgba(255,0,0,1) 100%);
                }
            }
        }
       
       
        
    }
  
    .spaceExtra{
        
        width: 100%;
        height: 150px;
    }
}
.search {
    width: 30%;
    display: flex;
    align-items: center;
    background-color: #202020; /* Fondo oscuro */
    padding: 10px;
    border-radius: 24px; /* Bordes redondeados */
  }
  
  .search input {
    width: 100%;
    padding: 10px;
    margin-right: 10px;
    background-color: #121212; /* Fondo m치s oscuro para el input */
    border: 1px solid #303030; /* Borde sutil */
    color: #fff; /* Texto blanco */
    border-radius: 24px; /* Bordes redondeados */
  }
  
  .search input::placeholder {
    color: #aaa; /* Placeholder m치s claro */
  }
  
  .search button {
    background-color: #323232; /* Fondo del bot칩n */
    border: none; /* Sin bordes */
    padding: 10px;
    border-radius: 50%; /* Forma circular */
    cursor: pointer; /* Cursor tipo mano */
  }
  
  .search button i {
    color: #fff; /* Icono blanco */
  }
  
  /* Cambia el color al pasar el mouse sobre el bot칩n */
  .search button:hover {
    background-color: #434343;
  }
  